@tailwind base;
@tailwind components;
@tailwind utilities;

.mr-10{
    margin-right: 10px;
}
.dflex-acenter{
    display: flex;
    align-items: center;
}
.nav-color{
    background-color: #1fb782;
}
.nav-color-hover{
    background-color: #6caf98;
}
.container {
    display: flex;
    justify-items: start;
    justify-content: flex-start;
}
aside {
  min-height: 100vh;
  justify-content: space-between;
  flex-direction: column;
}